body{
    display:flex;
    background:#000;
    border:5px solid #fff;
}
h2{
    text-align:center;
}
article{
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
   font-size:18px;
   color:#0f0;
   padding-left:30px;
   border-right:3px dashed #fff;
}
article header{
    border:none;
    margin:0 auto;
    width:100%;
    text-align:center;
    color:#0f0;
}
article header h2,article h2{
    color:#fff;
}