header{
    width:40%;
    color:#fff;
    border-right:3px dashed #fff;
    
}
h1{
    font-size:60px;
    text-align:center;
    
}
header h2{
    color:red;
}
nav h2:hover {
    border:2px solid #fff;
}
nav{
    box-shadow:0 1px 3px rgba(0,0,0,.4);
    font-size:14px;
    text-shadow:none;
    top:0;
    width:100%;
}
nav ul{ 
    background: #fff;
    display:none;
    list-style:none;
    max-height:300px;
    overflow-y:scroll;
}
nav ul,section{
    margin:0 0 20px;
}
nav:hover ul{
    display:block;
}
